<!-- Displays letters guessed, hangman, missing letters, and correctly guessed letters -->

<h1>Hello <%= @user_name %></h1>

<img src=<%= @show_hangman_image %>>
<h2> <%= @show_correctly_picked %></h2>
<h2> <%= @show_letter_choices %></h2>
<form action='/game' method='POST'>
  <label for='letter_input'>Please enter a letter!</label>
  <input id='letter_input' type='text' name='guess'pattern="[A-Za-z]{1}" maxlength="1" required>
  <input type='submit'>
</form>