<!-- Displays letters guessed, hangman, missing letters, and correctly guessed letters -->

<h1>Hello <%= @user_name %></h1>

<img src=<%= @show_hangman_image %>>
<h2> <%= @show_correctly_picked %></h2>
<h2> <%= @show_letter_choices %></h2>