<h1>It looks like you've been here before! Would you like to continue your old game or play a new one?</h1>

<form action='/returning_player' method="POST">
<input type="submit" name='button' value='Continue!'>
<input type="submit" name='button' value='Start Over!'>
</form>